

.hero__heading{
    font-family: 'Rubik', sans-serif;
    line-height: 1;
    letter-spacing: inherit;
    text-transform: uppercase;
}

.heading-extra{
    font-weight: normal;
}

.hero__heading .heading-extra {
    display: block;
}

.hero__list {
    font-size: 1.1rem;
    list-style: none;
    padding-left: 0;
}

.hero__list li {
    display: flex;
    position: relative;
}
.hero__list li {
    align-items: flex-start;
    margin-bottom: 2rem;
}

svg:not(:root) {
    overflow: hidden;
}

.hero__list li svg {
    flex: 0 0 auto;
    color: #2ebe6e;
    margin-top: 0.5rem;
    padding-right: 1rem;
    height: 1.5rem;
    width: 3rem;
}

@media (min-width: 768px){
    .hero__heading {
        font-size: 3rem;
        margin-bottom: 5rem;
    }
}

@media (min-width: 768px)
.builder-step__icon {
    width: 20rem;
    height: 20rem;
}